.primary-btn {
    width: fit-content;
    margin-left: auto;
    margin-right: 16px; /* adjust as needed */
    background-color: rgb(229, 243, 101);
    padding: 10px 15px;
    font-size: 20px;
}
.submit-btn {
    position: relative;
    right: 10px; /* move button 10px to the right */
    margin: 10px auto 0; /* center button after the rating stars and add a margin of 10px on top */
}
